A           { color: #993333; text-decoration: none; }
A:link      { color: #993333; text-decoration: none; }
A:visited   { color: #993333; text-decoration: none; }
A:active    { color: #999999;  }
A:hover     { color: #999999; text-decoration: underline; }

a img {
  border: none;
}

blockquote {
  border-left: 5px solid #ccc;
  margin-left: 1.5em;
  padding-left: 5px;
}

body {
  background: #fff;
  color: #000;
  font-family: "Palatino", "Times New Roman", Times, serif;
}

body p, body li {
  line-height: 125%;
}

.big {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: x-large;
}

.small {
  font-size: small;
}

.sidetitle {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color:#666666;
  font-size: small;
  font-weight:normal;
  padding:2px;
  letter-spacing: .3em;
  background:#FFFFFF;
  text-transform:uppercase;
}

.side {
  color:#333;
  font-size: small;
  font-weight:normal;
  background:#FFFFFF;
  padding:2px;
  max-width:146px;
}

.post pre {
  overflow-x: auto;
}

h2 {
  font: 1.25em Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
  margin: 15px 0 2px 0;
  padding-bottom: 2px;
  border-bottom: 1px dotted #aaa;
}

h3 {
  border-bottom: dotted 1px #ccc;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 0;
}

.meta {
  font-size: .75em;
  color: #808080;
  font-weight: normal;
  letter-spacing: 0;
}

#banner {
  margin: 0px 0px;
}

#footbox {
  border-top: 1px solid #CCCCCC;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#footer {
  border-top: 1px solid #CCCCCC;
  font-weight: normal;
  margin: 5px 0px 0px;
  padding: 6px;
  font-size: medium;
  text-align: center;
  clear: both;
}

#page {
  max-width: 750px;
  margin: 0px auto;
}

#sidebar {
  position: absolute;
  left: 770px;
  top: 0px;
}

.header a {
  color: #000;
  text-decoration: none;
}

#page-navigation {
  margin-top: 15px;
}

#page-navigation .left {
  float: left;
}

#page-navigation .right {
  float: right;
}
