<h1 id="footer">
  &copy;1999&ndash;2018 <a href="http://samskivert.com/">Michael Bayne</a>

  <div class="elselink">
    <img width="16" height="16" src="https://www.google.com/s2/favicons?domain=twitter.com" alt="Twitter"/>
    <a href="https://www.twitter.com/samskivert">Twitter</a>
  </div>

  <div class="elselink">
    <img width="16" height="16" src="https://www.google.com/s2/favicons?domain=facebook.com" alt="Facebook"/>
    <a href="https://www.facebook.com/samskivert">Facebook</a>
  </div>

  <div class="elselink">
    <img width="16" height="16" src="https://www.google.com/s2/favicons?domain=plus.google.com" alt="Google+"/>
    <a href="https://plus.google.com/u/0/114651679772454410034">Google+</a>
  </div>
</h1>
</div> <!-- content -->
</body>
</html>
