<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <meta name="author" content="Michael Bayne"/>
    <link rel="alternate" href="/blog/index.xml" title="blog" type="application/atom+xml"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="/css/pygments.css" type="text/css"/>
    <link href="/images/favicon.png" rel="shortcut icon"/>
    <title>samskivert: {{ .Title }}</title>
    {{- template "_internal/schema.html" . -}}
    {{- template "_internal/google_news.html" . -}}
    {{- template "_internal/twitter_cards.html" . -}}
    {{- template "_internal/opengraph.html" . -}}
  </head>

  <body>
    <div id="page">
    <h1 id="banner" class="big"><a href="/blog/">samskivert</a>: {{ .Title }}</h1>
