---
layout: default
---

<h2>{{ page.date | date_to_long_string }}</h2>
<div class="post">
{{ content }}
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'bikeshed-lang';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<div id="page-navigation">
  <div class="left">
  {% if page.previous.url %}
    <a href="/bikeshed{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  </div>

  <div class="right">
  {% if page.next.url %}
    <a href="/bikeshed{{page.next.url}}" title="next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a>
  {% endif %}
  </div>
</div>
