---
layout: index
title: blog archive
---

<div id="home">
  <p> Herein lie the dusty blog archives: </p>

{% for post in site.posts %}
  {% unless post.next %}
    <h2>{{ post.date | date: '%Y' }}</h2>
  {% else %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if year != nyear %}
      <h2>{{ post.date | date: '%Y' }}</h2>
    {% endif %}
  {% endunless %}
  <li><a href="/blog{{ post.url }}">{{ post.title }}</a> - <span class="meta">{{ post.date | date_to_string }}</span></li>
{% endfor %}
</div>
