<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # redirect old blog permalinks to new ones
  RewriteCond %{DOCUMENT_ROOT}/blog/20$1/$2 -d
  RewriteRule ^20(..)/(.*)/ /blog/20$1/$2 [R]
  RewriteCond %{DOCUMENT_ROOT}/reviews/books/20$1/$2 -d
  RewriteRule ^20(..)/(.*)/ /reviews/books/20$1/$2 [R]
  RewriteCond %{DOCUMENT_ROOT}/reviews/papers/20$1/$2 -d
  RewriteRule ^20(..)/(.*)/ /reviews/papers/20$1/$2 [R]
  RewriteCond %{DOCUMENT_ROOT}/reviews/films/20$1/$2 -d
  RewriteRule ^20(..)/(.*)/ /reviews/films/20$1/$2 [R]
  RewriteCond %{DOCUMENT_ROOT}/reviews/games/20$1/$2 -d
  RewriteRule ^20(..)/(.*)/ /reviews/games/20$1/$2 [R]

  # redirect some old RSS urls
  RewriteRule ^blog/wp-rss2.php /blog/index.xml [R]
  RewriteRule ^feed /blog/index.xml [R]
</IfModule>
