<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
   <title>samskivert: {{ page.title }}</title>
   <meta name="author" content="Michael Bayne"/>
   <link rel="alternate" href="/blog/index.xml" title="blog" type="application/atom+xml"/>
   <link rel="stylesheet" href="/css/style.css" type="text/css"/>
   <link rel="stylesheet" href="/css/pygments.css" type="text/css"/>
</head>
<body>
  <div id="page">
  <h1 id="banner" class="big"><a href="/blog/">samskivert</a>: {{ page.title }}</h1>

  {{ content }}

<!--#include virtual="/footer.html"-->
