---
layout: default
---

<h2>{{ page.date | date_to_long_string }}</h2>
<div class="post">
{{ content }}
</div>

<div id="page-navigation">
  <div class="clear">&nbsp;</div>
  <div class="left">
  {% if page.previous.url %}
    <a href="/blog{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  </div>

  <div class="right">
  {% if page.next.url %}
    <a href="/blog{{page.next.url}}" title="next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a>
  {% endif %}
  </div>
  <div class="clear">&nbsp;</div>
</div>

<!--
<div id="disqus">
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://disqus.com/forums/samskivert/embed.js"></script>
  <noscript><a href="http://samskivert.disqus.com/?url=ref">View the discussion thread.</a>
  </noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by
    <span class="logo-disqus">Disqus</span></a>
</div>
-->
